<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
	<display-name>Lanterns</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>initialServlet</servlet-name>
		<servlet-class>ca.concordia.lanterns.controllers.InitialServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>initialServlet</servlet-name>
		<url-pattern>/initial</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>ca.concordia.lanterns.controllers.FileUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>listFilesServlet</servlet-name>
		<servlet-class>ca.concordia.lanterns.controllers.ListFilesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>listFilesServlet</servlet-name>
		<url-pattern>/listfiles</url-pattern>
	</servlet-mapping>
	
</web-app>
